.modal {
  position: absolute;
  z-index: 100;
  background-color: transparent;
  visibility: hidden;
  height: 100lvh;
  width: 100lvw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: hidden;
}

.modalActive {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.1);
}

.modalContent {
  visibility: hidden;
  border: 2px solid white;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 2rem;
  border-radius: 40px;
  background-color: white;

  z-index: 110;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.modalContentActive {
  visibility: visible;
}

.iconWrapper {
  position: absolute;
  cursor: pointer;
  top: -38px;
  right: -38px;
  display: flex;
  justify-content: center;
  align-items: center;


  padding: 32px;

  border-radius: 100%;
  z-index: 120;
}

.iconClose {
  height: 30px;
  width: 30px;
  z-index: 130;
  transform: translate(-30px, 30px);
}
