.wrapper {
  margin-left: 200px;
}

.title {
  margin-left: 90px;
}

.message {
  font-size: 20px;
  text-transform: uppercase;
  padding: 0;
}

.brand {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 400;
  transform: translateX(-8px);
}

.cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.cards > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 40px;
}